.container_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(32, 32, 32);
    border: 3px solid #fff; */
    border-radius: 20px;
    height: 60vh;
    margin: 50px 0px;
}
.container_search{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 32);
    border: 3px solid #fff;
    border-radius: 20px;
    height: 60vh;
    margin: 50px 0px;
}

.container__h1{
    padding: 20px 30px;
}

.container__h1--rojo{
    color: rgb(150, 18, 18);
}


.container_card .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.container_card form input{
    margin-bottom: 20px;
    height: 40px;
    border-radius:20px ;
    text-align: center;
    ::placeholder{
        text-align: center;
    }
}
.form__button{

    font-size: 20px;
    font-weight: bold;
    border: 3px solid #fff;
    border-radius: 20px;
    background-color:#242424;
    padding: 5px 10px;
    transition: 0.5s;
}
.form__button:hover{
    background:rgb(150, 18, 18);
    
    transform: scale(1.1);
    transition: 0.5s;

}