.container_gift{
    /* margin: 50px 0px; */
    height: 300px;
}

.carusselGifts{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carusselGifts button{
    margin: 10px 20px;
    padding: 5px 10px;
    border-radius: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    transition: 0.5;
}
.carusselGifts button:hover{
    background:rgb(150, 18, 18);
    transform: scale(1.1);
    transition: 0.5s;
}

.carusselGifts img{
    
    transition: 0.5s;
}

.cointainer__img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    border-radius: 20px;
    width: 360px;
    height: 200px;
    overflow: hidden;
}
